@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #370617;
    color: #fff;
}

.btn-regresar {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-regresar:hover {
    background: rgba(0,0,0,0.8);
}

.btn-regresar .material-symbols-outlined {
    font-size: 32px;
    color: white;
}

.general{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../IMG/FondoDWP.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.generalZ{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../IMG/FondoZootopia.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.generalT{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../IMG/FondoTron.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.generalP{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../IMG/FondoDondePolicia.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.generalBu{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../IMG/BTSfondo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.generalTr{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../IMG/transformersFondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.generalM{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../IMG/FondoMulan.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.generalO{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../IMG/FondoElOrigen.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.generalBg{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../IMG/FondoBadGuys.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.85) 40%, rgba(0,0,0,0.2) 100%);
}

.contenido{
    position: relative;
    max-width: 700px;
    padding: 60px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 40px;
    margin-bottom: 20px;
    color: #D00000;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.tituloz{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Alan Sans", sans-serif;
    color: #33c599;
    text-align: center;
}

.tituloT{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Audiowide", sans-serif;
    color: white;
    text-align: center;
}

.tituloP{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Alan Sans", sans-serif;
    color: #f03c7b;
    text-align: center;
}

.tituloBu{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    color: gray;
    text-align: center;
}

.tituloBu span{
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255, 144, 255);
}

.tituloBu span.division{
    font-family: "Bebas Neue", sans-serif;
    color: rgb(148, 30, 148);
}

.tituloTr{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
    color: #acadb1;
    font-weight: 700;
    text-align: center;
}

.tituloM{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Rock Salt", cursive;
    color: #faf16b;
    text-align: center;
}

.tituloO{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    color: #D00000;
    text-align: center;
}

.tituloBg{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Titan One", sans-serif;
    color: #f6981f;
    text-align: center;
}

.tituloBg span{
    font-family: "Pacifico", cursive;
}

.sinopsis {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
    color: white;
    text-align: justify;
}

.datos{
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.datos div {
    font-size: 14px;
    color: white;
}

.botones{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.btn-primario {
    background: #D00000;
    color: #fff;
}

.botones a{
    text-decoration: none;
}

.btn-secundario {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

h1{
    text-align: center;
    margin-top: 30px;
}

.Elenco{
    width: 100%;
    margin: 20px auto;
    background-color: #370617;
    overflow: auto;
    padding: 25px;
}

.Elenco article{
    width: 32.66%;
    height: 600 px;
    float: left;
    border-radius: 10px;
    margin: 10px 0.5%;
    padding: 10px;
}

.Elenco div article:nth-child(3n+1){
    margin-left: 0;
}

.Elenco div article:nth-child(3n){
    margin-right: 0;
}

.Elenco article img{
    margin: 10px auto;
    text-align: center;
    display: block;
    width: 250px;
    height: 320px;
}

.Elenco article h3{
    text-align: center;
}

.Elenco div article h3{
    margin-top: 20px;
    font-family: "Playfair Display", serif;
}

.horarios{
    background-color: #6A040F;
    border-radius: 10px;
}

.horario-principal{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.datos-peli{
    margin-top: 10px;
    margin-left: 20px;
}

.nombre-pelicula{
    font-weight: 700;
    font-size: 18px;
}

.datos-pelicula{
    font-size: 14px;
    margin-top: 4px;
}

.datos-general{
    text-align: right;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 10px;
}

.datos-entrada{
    font-size: 16px;
    margin-bottom: 5px;
}

.datos-sala{
    font-size: 13px;
}

.tablaHorarios{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.dia{
    flex: 1;
    background-color: #D00000;
    border-radius: 8px;
    padding: 15px 20px;
    min-width: 250px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.dia h4{
    margin-bottom: 10px;
}

.dia ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dia li {
  margin-bottom: 10px;
  font-size: 14px;
}

.dia strong {
  font-weight: bold;
  color: #ffffff;
}

.dia em {
  font-style: normal;
  color: #8cfd57; 
  font-weight: 600;
}

.dia li em {
  margin-left: 4px;
}

.dia li em.casi-lleno{
    color: #FFBA08;
}

.dia li em.lleno{
    color: black;
}

.fecha{
    flex: 1;
    background-color: #D00000;
    border-radius: 8px;
    padding: 15px 20px;
    min-width: 250px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.fecha li {
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  list-style: none;
}

@media (max-width: 1024px) {
  .contenido {
    max-width: 90%;
    padding: 40px;
  }

  .general{
    background-position: right;
  }

  .titulo {
    font-size: 32px;
  }

  .sinopsis {
    font-size: 15px;
    max-height: 200px;   
    overflow-y: scroll;    
    padding-right: 10px;
    text-align: justify;
  }

  .Elenco article {
    width: 48%; 
  }

  .horario-principal {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .datos-general {
    text-align: left;
    margin-right: 0;
    margin-left: 20px; 
  }
}

@media (max-width: 768px) {
  .general {
    justify-content: center;
    text-align: center;
  }

  .contenido {
    padding: 30px;
    max-width: 95%;
    align-items: center;
  }

  .general{
    background-position: right;
  }

  .titulo {
    font-size: 26px;
  }

  .sinopsis {
    font-size: 14px;
    text-align: justify;
    max-height: 150px;     
    overflow-y: scroll;   
  }

  .datos {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .botones {
    flex-direction: column;
    width: 100%;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .Elenco article {
    width: 100%; 
  }

  .tablaHorarios {
    flex-direction: column;
    gap: 15px;
  }

  .dia {
    margin: 0 auto 15px auto;
    width: 90%;
  }

  .datos-general {
    text-align: left;
    margin-left: 25px;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 22px;
  }

  .general{
    background-position: right;
  }

  .sinopsis {
    font-size: 13px;
    line-height: 1.4;
    max-height: 120px;  
    overflow-y: scroll; 
    text-align: justify;   
  }

  .datos div {
    font-size: 12px;
  }

  .btn {
    font-size: 13px;
    padding: 10px;
  }

  .dia li {
    font-size: 13px;
  }

  .datos-general {
    margin-left: 30px;
    font-size: 13px;
  }
}